body{
    background:cornsilk;
}

.tier1{
    background: burlywood;
    color:darkviolet;
    display: flex;
    flex-wrap: wrap;
}

.tier2{
    background: rosybrown;
    color: darkviolet;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    top: 2em;
    right: 2em;
}

.tier3{
    background: wheat;
    color: chocolate;
    display: inline-flex;
    width: 70%;
    flex-wrap: wrap;
}

header{
    justify-content: center;
    align-items: center;
    height: 120px;
}
nav{
    margin: 1em 0 1em;
    height: 2em;
    align-content: center;
    justify-content: flex-end;
}
nav span{
    margin-right: 1em;
}
nav span :hover{
    color: red;
}

aside{
    width: 200px;
    height: 30em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float:right;
}
aside .category_in{
    color: white;
    flex-direction: column;
    align-items: stret;
    justify-content: flex-end;
}
aside :hover{
    color: tomato;
}

section{
    padding: 5em;
    justify-content: flex-start;
    align-content: flex-start;
    word-break: break-all;
}
section .sectionhead{
    color:teal;
    font-style: italic;
}
.sectionhead h3{
    justify-content: flex-start;
    font-size: 24px;
    display: inline-block;
}
.sectionhead span{
    justify-content: flex-end;
    font-size: 16px;
    display: inline-block;
}
section div img{
    width: 80%;
    margin-right: 1em; margin-left: 1em;
    float:left;
}

article{
    margin-top: 3em;
    background: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
article .item{
    width: 300px;
    height: 200px;
    margin: 1em;
    background:orange;
    border:slateblue dashed 4px;
    color: slateblue;
    text-align: center;
    line-height: 200px;
    flex-basis: 1;
}

footer{
    justify-content: flex-end;
}