/*environ set*/
*{
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin:0;
    
    width: 100%;
}

.background{
    z-index:-1;
    max-width: 100%;
}
#background_title{
    position:fixed;
    left: 0;
    top: 0;

    min-width: 1150px;
    min-height: 590px;
}

/*top*/
.top{
    display: flex;
    justify-content: flex-end;
    position:relative;
    left: 0;
    top: 0;
    width:100%;
    padding-top: 72px;
    padding-bottom: 72px;
    background: rgba(0, 0, 0, 0.7);
}
#top_position{
    width: 43%;
}
.top_contents{
    flex-shrink: 0;
}

#top_logo{
    display: flex;
    width: 140px;
    height: 41px;
}

.top_title{
    /*display: flex;
    flex-wrap: wrap;*/
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 36px;
    font-weight: 500;
    color: white;
}
#top_title_line{
    display: flex;
    flex-wrap:wrap;
    margin-top: 12px;
    margin-bottom: 12px;
}

.top_index_paragraph{
    margin-top: 0.67em;
}
#top_index{
    display: flex;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
#top_phone_input{
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    padding-left: 8px;
    padding-right: 8px;

    width: 224px;
    height: 32px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #bbbbbb;
    font-size: 15px;
    line-height: 15px;
}

#top_button{
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    width: 240px;
    height: 45px;
    background: rgba(237,102,83,1);
    border-radius: 5px;

    text-align: center;
    line-height: 45px;
}
#top_button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
#top_button:hover{
    background: rgb(228, 79, 59);
}

/*index1*/
.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    background: white;
}

#index1_title{
    display: flex;
    flex-direction: column;
    padding-top: 0.67em;
    padding-top: 0.67em;
    margin-top: 72px;
   
    font-size: 28px;
    font-weight: 700;
    line-height: 58px;
}

.index1_contents{
    display: flex;
    position: relative;
    margin-top: 72px;
}
@media screen and (width:400px){
    .index1_contents{
        flex-direction: column;
    }
}

#enginner{
    margin-top: -2em;

    width: 380px;
    height: 355px;
}

#quotation{
    margin-top: 2em;

    width: 21px;
    height: 21px;
}

#index1_text{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 24px;

    width: 380px;
}
#index1_contents_title{
    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}
#index_contents{
    margin-top: 1em;
}
#index1_contents_line{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 22px;

    font-size: 16px;
    word-break: keep-all;
}
#index1_contents_from{
    font-size: 16px;
    font-weight: 500;
}